
/* Character Class*/
.character {
	
}

figure {
	float: left;
	margin: 15px;
}

figcaption {
	text-align: center;
}

#attack {
	vertical-align: middle;
}

#attack-button {
	width: 100%;
	margin: 107.5px 0px;
}

