
/* Character Class*/
.character {
	
}

.jumbotron {

	background-image: url("../images/ricepaper2.png");
	font-family: 'MedievalSharp', cursive;
	color:black;
}

body{
	background-image: url("../images/westerosmap.png");
	background-size: 100%;
	font-family: 'MedievalSharp', cursive;
	color:white;
}

h1 {
	font-size: 47px;
}

p {
	text-align: center;
	font-family: 'MedievalSharp', cursive;
	color:black;
}

.panel {
	background: none;
	border: none;
}

.container {
	
}

figure {
	float: left;
	margin: 15px;
	text-align: center;
}

img {
	height:150px;
	width:150px;
}

figcaption {
	text-align: center;
	color: white;
}

#attack-button {
	width: 100%;
	margin-top: 40%;
	/*margin: 107.5px 0px;*/
}

.activeChar {
	width: 100%;
}

#character-selection {
	text-align: center;
}

.activeName {
	text-align: center;
}




