
/* Character Class*/
.character {
	
}

figure {
	float: left;
	margin: 15px;
	text-align: center;
}

figcaption {
	text-align: center;
}

#attack-button {
	width: 100%;
	margin-top: 40%;
	/*margin: 107.5px 0px;*/
}

.activeChar {
	width: 100%;
}

#character-selection {
	text-align: center;
}

.activeName {
	text-align: center;
}

